Package: moe.waru.soko
Name: Soko
Version: 1.0.0-rc.1
Architecture: iphoneos-arm
Description: iOS 26 style Lock Screen widgets
Maintainer: waruhachi
Author: waruhachi
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
